---
import Button from "./Button.astro";

export interface Props {
  title: string;
  titleColor?: string;
  subtitle?: string[];
  subtitleColor?: string;
  bgColor?: string;
  ctaLink?: string;
  ctaText?: string;
  paddingT?: string;
  bgHeight?: string;
}

const {
  title,
  titleColor = "text-white",
  subtitle,
  subtitleColor = "text-white",
  bgColor = "bg-primary",
  ctaLink,
  ctaText,
  paddingT = "md:pt-[221px] pt-[114px]",
  bgHeight = "h-[500px] md:h-[600px]",
} = Astro.props;
---

<div
  class={`md:px-[48px] px-[20px] ${paddingT} relative ${bgColor} ${bgHeight} flex flex-col md:items-start items-center`}
>
  <div>
    <h1
      class={`pb-6 font-semibold lg:text-[64px] leading-[4.5rem] text-[36px] max-w-xl ${titleColor}`}
    >
      {title}
    </h1>
    {subtitle && (
      <div class="flex flex-col">
        {subtitle.map((line) => (
          <p
            class={`text-base font-normal mt-1 max-w-lg mb-2 ${subtitleColor}`}
            set:html={line}
          />
        ))}
      </div>
    )}
    {ctaLink && ctaText && (
      <div class="flex items-start justify-start pt-10">
        <Button
          text={ctaText}
          textMobile={ctaText}
          href={ctaLink}
          defaultColor="secondary"
          shadowColor="gray-light"
        />
      </div>
    )}
  </div>
  <div class="absolute w-full left-0 bottom-[30px] flex justify-center">
    <a href="#content">
      <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.25017 1.00004L12.0102 8.76004L19.7702 1.00004C20.5502 0.220039 21.8102 0.220039 22.5902 1.00004C23.3702 1.78004 23.3702 3.04004 22.5902 3.82004L13.4102 13C12.6302 13.78 11.3702 13.78 10.5902 13L1.41017 3.82004C1.03566 3.44638 0.825195 2.93907 0.825195 2.41004C0.825195 1.881 1.03566 1.3737 1.41017 1.00004C2.19017 0.240039 3.47017 0.220039 4.25017 1.00004Z" fill="white"></path>
      </svg>
    </a>
  </div>
</div>
